<%- include('../../partials/header') %>
<body>

    <%- include('../../partials/navbar') %>

    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2>Editar artigo</h2>
            </div>
            <div class="card-body">
                <form action="/articles/update" method="POST">
                    <input type="hidden" name="id" value="<%= article.id %>">
                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" name="title" class="form-control" value="<%= article.title %>">
                    </div>
                    <div class="form-group">
                        <textarea name="body" id="body" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Categoria</label>
                        <select name="categoryId" class="form-control">
                            <% categories.forEach((category) => { %>
                                <% if(category.id == article.categoryId){ %> 
                                    <option value="<%= category.id %>" selected><%= category.title %></option>
                                <% }else{ %>
                                    <option value="<%= category.id %>"><%= category.title %></option>
                                <% } %>
                            <% })%>
                        </select>
                    </div>
            </div>
            <div class="card-footer">
                    <button class="btn btn-sm btn-warning">Atualizar</button>
                    <a class="btn btn-sm btn-secondary" href="/admin/articles">Voltar</a>
                </form>
            </div>
        </div>
    </div>

    <div id="content" style="display: none">
        <%- article.body %>
    </div>
        
</body>
<%- include('../../partials/footer') %>

<script src="/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#body",
        plugins: [
                    'advlist',
                    'autolink',
                    'link',
                    'image',
                    'lists',
                    'preview',
                    'searchreplace',
                    'wordcount',
                    'fullscreen',
                    'insertdatetime',
                    'media',
                    'save',
                    'table',
                    'emoticons',
                ],
                init_instance_callback: () => {
                    tinymce.get("body").setContent($("#content").html())
                }
    })

</script>