<%- include('../../partials/header') %>
<body>

    <%- include('../../partials/navbar') %>

    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2>Categorias</h2>
                <a href="/admin/categories/new" class="btn btn-sm btn-success">Add Categoria</a>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(category => { %>
                        <tr>
                            <th><%= category.id %></th>
                            <th><%= category.title %></th>
                            <th><%= category.slug %></th>
                            <th>
                                <a class="btn btn-sm btn-warning" href="/admin/categories/edit/<%= category.id %>">Editar</a>
                                <form action="/categories/delete" method="POST" style="display:inline;" onsubmit="confirmDelete(event, this)">
                                    <input type="hidden" name="id" value="<%= category.id %>">
                                    <button class="btn btn-sm btn-danger">Deletar</button>
                                </form>
                            </th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

</body>
<%- include('../../partials/footer') %>

<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta categoria?")

        if(decision){
            form.submit();
        }else{
            console.log("Não quero deletar, isso foi um acidente!");
        }
    }
</script>